:root{
// Couleurs principales
$background-maincolor: #fff; // ou rgb(21, 22, 39)
$gradient-light: whitesmoke;
$gradient-dark: lightgrey;

$txt-maincolor: #333;
$txt-scdcolor: #fff;
$txt-activecolor: lightgrey;

// Fonts
$main-font: 'IMFellDoublePica', serif;
$title-font: 'BebasNeue', cursive;
$btn-font: 'Cinzel', serif;

// Ombres
$main-shadowcolor: rgba(0, 0, 0, 0.5);
$light-shadowcolor: grey;

//Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
}