// Couleurs principales
$background-maincolor: #fff; // ou rgb(21, 22, 39)
$gradient-light: whitesmoke;
$gradient-dark: lightgrey;

$txt-maincolor: #333;
$txt-scdcolor: #fff;
$txt-activecolor: lightgrey;

// Fonts
$main-font: 'IMFellDoublePica';
$title-font: 'BebasNeue';
$btn-font: 'Cinzel';

// Ombres
$main-shadowcolor: rgba(0, 0, 0, 0.5);
$light-shadowcolor: grey;

//Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// Font sizes
$font-size: 0.85rem;
$font-size-desktop:1.25rem;
$font-size-h2: 1.75rem;