@font-face {
    font-family: 'IMFellDoublePica';
    src: url('/portfolio/fonts/IMFellDoublePica.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('/portfolio/fonts/Cinzel.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/portfolio/fonts/TitilliumWeb.ttf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/portfolio/fonts/BebasNeue.ttf');
}

body {
    background-color: $background-maincolor;
    color: $txt-maincolor;
    font-family: $main-font;
}

span{
    font-weight: bold;
}