#contact {
            padding: 0.5rem;
            grid-area: contact;
            /* position: relative; */
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .contactTitle {
                font-family: $btn-font;
                font-size: 3rem;

            }

            .contactContainer {
                width: 100%;
                .contactText {
                    width: 100%;
                    text-align: justify;
                }

                .contactForm {
                    &>* {
                        font-family: $main-font;
                    }
                }
            }
}